<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bank of Newcastle</title>
	<meta charset="utf-8"/>
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body>
		<div id= "Container">
				<div class= "Header">				
					</div>
						<div id= "Content">
							<div id = "Navigation">
								<img style="display: inline;" src="{% static 'Logo 2b.jpg' %}" alt="logo" /> <h1 style="display: inline;"> Bank of Newcastle Online Banking <h1>
								
								<ul>
									<li><a> Login </a></li>	
								</ul>

						<div id = "footer"> 
						<hr>
							Copyright &copy; <br>2017  B.o.N<br>
											Bank of Newcastle <br>
											N.S.W 2300.
							
						</div>
					</div>		
	
</html>