<html>
	<link rel="stylesheet" type="text/css" href="style.css" />
		<img style="display: inline;" src="logo 2b.jpg" alt="logo" /> <h1 style="display: inline;"> Bank of Newcastle Online Banking <h1>
<body>
		<div id= "Container">
				
				<div class= "Header">
									
					</div>
		
						<div id= "Content">
							<div id = "Navigation">
								
				<ul>
					<ul>
							<li><a> Home </a>
							<ul>
								<li><a> Main Menu</a>
							</ul>
							</li>
							
							<li><a> Accounts </a>
							<ul>
								<li><a>Everyday</a></li>
								<li><a>Savings</a></li>
								<li><a>Mortgage</a></li>
								<li><a>Personal Loans</a></li>
							</ul>
							</li>
							
							<li><a> BPAY </a>
							<ul>
								<li><a> Water Bill </a></li>
								<li><a> Electricity Bill </a></li>
								<li><a> Land Rates </a></li>
								<li><a> Rent </a></li>
								<li><a> Landline/Internet </a></li>
								<li><a> Mobile Phone </a></li>
							</ul>
							</li>
							
							<li><a> History </a>
							<ul>
								<li><a> Debit </a></li>
								<li><a> Credit </a></li>
								<li><a> transfers </a></li>
								<li><a> BPAY </a></li>
							</ul>
							</li>
							
							<li><a> Services </a></li>
							<li><a> Messages <a/></li>
							<li><a> About </a>
							<ul>
								<li><a> BoN's Purpose</a>
							</ul>
							</li>
							
							<li><a> Logout </a>
							<ul>
								<li><a> Exit Online Banking</a>
							</ul>
							</li>
					</ul>
							</div>
						
							<div id= "main">
								<h2> can put some sort of writing here for main page after u login </h2>
								<p> this is under the main div <p>
								<p>obvs not even close to finishing, i have to make those links clickable <br>
									fix up all the writing and layout of the writing, most likely change the <br>
									background picture so its eaier to read the writing, or put the writing <br>
									in boxes. <br>
									and none of the links, or tabs are set in concrete, just examples to get <br>
									a rough idea on how to create the hover tabs etc. <br> <br>
									made a logo, can be easily changed too, and turned into <br> a home button to be rid of the home tab.
							
								
									
							</div>
						
						</div>
						
						<div id = "footer"> 
						<hr>
							Copyright &copy; <br>2017  B.o.N<br>
											Bank of Newcastle <br>
											N.S.W 2300.
							
						</div>
					</div>		
	
</html>