body{
	background-color: black;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: aerial-banner;
}

ul{
	padding:1% 0;
	list-style: none;
	border-radius: 15px;
}


.sub-menu{
	float:left; 
	width: 100%; 
	height: 40%; 
	background-color: black; 
	opacity:.8; 
	text-align:center-right; 
	font-size: 20px; 
	margin: 1% 0 1% 1%; 
	border-radius: 15px;
}

h1{
	color:black;
	font-size: 28px;
	text-align: center;
}

ul li{
	float:left;
	width: 32%;
	height: 40%;
	background-color: black;
	opacity:.8;
	text-align:center-right;
	font-size: 20px;
	margin: 1% 0 1% 1%;
	border-radius: 15px;
}

.main-menu{
	float:left; 
	width: 11.25%; 
	height: 40%; 
	background-color: black; 
	opacity:.8; 
	text-align:center-right; 
	font-size: 20px; 
	margin: 1% 0 1% 1%; 
	border-radius: 15px;
}

ul li a{
	margin: 2% 0;
	color:white;
	display: block;
	text-align:center;
	border-radius: 15px;
}

ul li a:hover{
	background-color:green;
	color:white;
	display: block;
	text-align:center;
}

ul li ul li{
	display:none;
}

ul li:hover ul li{
	display:block;
	text-align: left;
}

a{
	color:black;
	font-family: sans-serif;
	margin-bottom:20px;
	text-align: center;
	display: block;
	margin: auto;
}

a:hover {
	color:green;
	font-weight: bold;
}

footer{
	float:right;
	color: white;
	font-family: sans-serif;
}

input[type="text"], input[type="password"]{
	height: 200%;
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;	
}

form{
	margin: 5% 30% 2%;
	width: 40%;
}

#Main{
	width: 100%;
	height: 100%;
	float:left;
	font-weight:bold;
	color:rgb(255, 255, 255);
	text-align: center;
	background-color: #000000bb;
	border-radius: 15px 0 15px 0;
	margin: 5% 0 5% 0;
	opacity:0.8;
}

#Container{
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	margin: 1%;
	height: 98%;
	width: 98%;
	padding-bottom: 3%;
}

#LogoContainer{
	background-color: rgba(0, 0, 0, 0);
	border-radius: 15px;
	margin: 1%;
	height: 98%;
	width: 98%;
}

#LogoContainer img {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
}

#TransferContainer{
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	text-align: left;
	margin: auto;
	height: 98%;
	width: 50%;
	padding: 4% 0;
}

#LoginContainer{
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	text-align: center;
	margin: auto;
	height: 98%;
	width: 50%;
	padding: 4% 0;
}

#TransferContainer input{
	height: 200%;
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;	
}

#TransferContainer input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

#Content{
	padding: 1% 0;
	margin: 2% 2%;
	background-color: rgb(255, 255, 255);
	text-align: left;
	border-radius: 15px;
}

#Container img{
	resize:horizontal;
	display: inline-block;
	vertical-align: middle;
}

#Footer{
	position: relative;
	clear:both;
	text-align:right;
	font-size:12px;
	margin: 2% 0;
	width: 98%;
	color: white;
}

#Form-Container{
	width:32%;
	padding: 34% 5% 34% 5%;
	font-family: aerial;
	font-size: 16px;
	color: #000000;
	padding-top: 5%;
	font-size: 35px;
}

#form-input before{
	background-color: #00eeff;
	position: absolute;
	font-family: aerial;
	font-size: 16px;
	color: #985986;
	padding-top: 5px;
	font-size: 35px;
}

btn-login {
	padding: 15px 25px;
	color: #fff;
	background-color: #2ECC71;
	border: none;
	border-radius: 4px;
	border-bottom: 4px solid #27AE60
}
btn-login hover{
	color: blue;
	font-weight:bold;
	Background: blue;
}

.login-menu{
	width: 46%; 
	height: 40%; 
	margin: 0 2% 2% 2%
}
