<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bank of Newcastle</title>
		<meta charset="utf-8"/>
		{% load staticfiles %}
		<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'/>
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id= "Container">
				<img src="{% static '/images/logo.png' %}" alt="logo" />
			<div id = "Navigation">
				<ul>
					<ul>
						<li><a>Home</a><ul><li><a>Main Menu</a></li></ul></li>
						<li><a> Accounts </a><ul><li><a>Everyday</a></li><li><a>Savings</a></li><li><a>Mortgage</a></li><li><a>Personal Loans</a></li><li><a>History</a></li></ul></li>
						<li><a>BPAY</a><ul><li><a>Water Bill</a></li><li><a>Electricity Bill</a></li><li><a>Land Rates</a></li><li><a>Rent</a></li><li><a>Landline/Internet</a></li><li><a>Mobile Phone</a></li><li><a>History</a></li></ul></li>
						<li><a> Transfers</a><ul><li><a>Internal</a></li><li><a>History</a>></ul></li>
						<li><a> Services </a></li>
						<li><a> Messages <a/></li>
						<li><a href='/#'> Log Off </a></li>
						</li>
					</ul>
				</ul>
			</div>
			<div id= "main2">
								<form>
								<h1> External Transfer: <h1>
									<div class="form-input2">
										
										<label for="YourAccountNumber">Enter Your Account Number:</label>
										<input type="number" name="Account Number"
											placeholder="Enter Account No#"><br>
										</div>
											<div class="form-input2">
										<label for="YourBSBNumber">Enter Your BSB Number:</label>
										<input type="number" name="BSB Number"
											placeholder="Enter BSB No#"><br>
										</div>
											<div class="form-input2">
										<label for="AddMessage">Add A Message:</label>
										<input type="text" name="Message"
											placeholder="Enter Message"> <br>
										</div>
											<div class="form-input2">
										<label for="AddMessage">Enter Recipient's Name</label>
										<input type="text" name="recipient"
											placeholder="Enter name"> <br>
										</div>
											<div class="form-input2">
										<label for="AddMessage">Enter Recipient's Account Number:</label>
										<input type="number" name="Account Number"
											placeholder="Enter Account No#"><br>
										</div>
											<div class="form-input2">
										<label for="AddMessage">Enter Recipient's BSB Number:</label>
										<input type="number" name="BSB Number"
											placeholder="Enter BSB No#"><br>
										</div>
											<div class="form-input2">
										<label for="Amount">Enter Amount:</label>
										<input type="number" name="Amount"
											placeholder="Transfer Amount"><br>
										</div>
											<div class="form-input2">
										<input TYPE="button" VALUE="Continue" style="margin:0px auto; display:block;"
											onclick="window.location.href=''"> <br>
										</div>
									</form>
							
								
									
			</div>
			<div id = "Footer">
				<hr>
				Copyright &copy;2017<br>Bank of Newcastle <br>N.S.W 2300.
			</div>	
		</div>
	</body>	
</html>