<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bank of Newcastle</title>
	<meta charset="utf-8"/>
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body>
		<div id= "Container">
				<img src="{% static '/images/logo.png' %}" alt="logo" />
				<div class= "Header">
									
					</div>
		
						<div id= "Content">
							<div id = "Navigation">
								
				<ul>
					<ul>
							<li><a> Home </a>
							<ul>
								<li><a> Main Menu</a>
							</ul>
							</li>
							
							<li><a> Accounts </a>
							<ul>
								<li><a>Everyday</a></li>
								<li><a>Savings</a></li>
								<li><a>Mortgage</a></li>
								<li><a>Personal Loans</a></li>
								<li><a> History </a></li>
							</ul>
							</li>
							
							<li><a> BPAY </a>
							<ul>
								<li><a> Water Bill </a></li>
								<li><a> Electricity Bill </a></li>
								<li><a> Land Rates </a></li>
								<li><a> Rent </a></li>
								<li><a> Landline/Internet </a></li>
								<li><a> Mobile Phone </a></li>
								<li><a> History </a></li>
							</ul>
							</li>
							
							<li><a> Transfer </a>
							<ul>
								<li><a> External </a></li>
								<li><a> Internal </a></li>
								<li><a> History </a></li>
							</ul>
							</li>
							
							<li><a> Services </a></li>
							<li><a> Messages <a/></li>
							</ul>
							</li>
							
							<li><a> Logout </a>
							<ul>
								<li><a href='login/'> Log Off </a></li>
							</ul>
							</li>
					</ul>
							</div>
						
							<div id= "main">
								<h2> This Will Be The Basis of the transfer page </h2>
								<p> will add in forms with info related to transferring money and shit to ppl
							
								
									
							</div>
						
						</div>
						
						<div id = "footer"> 
						<hr>
							Copyright &copy; <br>2017  B.o.N<br>
											Bank of Newcastle <br>
											N.S.W 2300.
							
						</div>
					</div>		
	
		</div>
		<footer> <br><br><br><br><br><br><br><br><br><br>
			<p> powered by Bank of Newcastle PTY LTD <p>
		</footer>
	</body>
</html>