<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bank of Newcastle</title>
	<meta charset="utf-8"/>
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body>
		<div id= "Container">
				<div class= "Header">				
					</div>
						<div id= "Content">
							<div class = "Navigation">
								<img style="display: inline;" src="{% static 'Logo 2b.jpg' %}" alt="logo" /> <h1 style="display: inline;"> Bank of Newcastle Online Banking <h1>
								
				<ul>
					<ul>
							<li><a> Home </a>
							<ul>
								<li><a> Main Menu</a>
							</ul>
							</li>
							
							<li><a> Accounts </a>
							<ul>
								<li><a>Everyday</a></li>
								<li><a>Savings</a></li>
								<li><a>Mortgage</a></li>
								<li><a>Personal Loans</a></li>
								<li><a> History </a></li>
							</ul>
							</li>
							
							<li><a> BPAY </a>
							<ul>
								<li><a> Water Bill </a></li>
								<li><a> Electricity Bill </a></li>
								<li><a> Land Rates </a></li>
								<li><a> Rent </a></li>
								<li><a> Landline/Internet </a></li>
								<li><a> Mobile Phone </a></li>
								<li><a> History </a></li>
							</ul>
							</li>
							
							<li><a> transfers </a>
							<ul>
								<li><a> Internal </a></li>
								<li><a href='external.html'> External </a></li>
								<li><a> History </a></li>
								
							</ul>
							</li>
							
							<li><a> Services </a></li>
							<li><a> Messages <a/></li>
							<li><a> About </a>
							<ul>
								<li><a> BoN's Purpose</a>
							</ul>
							</li>
							
							<li><a> Logout </a>
							<ul>
								<li><a href='homepage/account.html'> Log Off </a></li>
							</ul>
							</li>
					</ul>
							</div>
						
							<div id= "main">
								
							
								
									
							</div>
						
						</div>
						
						<div id = "Footer"> 
						<hr>
							Copyright &copy; <br>2017  B.o.N<br>
											Bank of Newcastle <br>
											N.S.W 2300.
							
						</div>
					</div>		
	
</html>