<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bank of Newcastle</title>
		<meta charset="utf-8"/>
		{% load staticfiles %}
		<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id= "Container2">
			
			<img src="{% static '/images/logo.png' %}" alt="logo" />
			<ul>
				<li><a href='#'> Home </a></li>
				<li><a href='login/'> Login </a></li>
				<li><a> About </a>
				<ul>
					<li><a> BoN's Purpose</a>
				</ul>
				</li>
			</ul>
			<div id= "Main">
				<p>Need to put some dummy info here re; bank purpose etc etc</p>
			</div>
			<div id = "Footer" style='color:white;'>  <!-- CHANGE ME LATER -->
				<hr>
				Copyright &copy;2017<br>Bank of Newcastle <br>N.S.W 2300.
			</div>	
		</div>
	</body>	
</html>