<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bank of Newcastle</title>
		<meta charset="utf-8"/>
		{% load staticfiles %}
		<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id= "Container">
			<img src="{% static '/images/logo.png' %}" alt="logo" />
			<div id = "Navigation">
				<ul>
					<ul>
						<li><a>Home</a><ul><li><a>Main Menu</a></li></ul></li>
						<li><a> Accounts </a><ul><li><a>Everyday</a></li><li><a>Savings</a></li><li><a>Mortgage</a></li><li><a>Personal Loans</a></li></ul></li>
						<li><a>BPAY</a><ul><li><a>Water Bill</a></li><li><a>Electricity Bill</a></li><li><a>Land Rates</a></li><li><a>Rent</a></li><li><a>Landline/Internet</a></li><li><a>Mobile Phone</a></li></ul></li>
						<li><a> History</a><ul><li><a>Debit</a></li><li><a>Credit</a></li><li><a>Transfers</a></li><li><a>BPAY</a></li></ul></li>
						<li><a> Services </a></li>
						<li><a> Messages <a/></li>
						<li><a> About </a><ul><li><a> BoN's Purpose</a></ul></li>
						<li><a> Logout </a><ul><li><a> Exit Online Banking</a></ul>
						</li>
					</ul>
				</ul>
			</div>
			<div id = "Footer">
				<hr>
				Copyright &copy;2017<br>Bank of Newcastle <br>N.S.W 2300.
			</div>	
		</div>
	</body>	
</html>