<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bank of Newcastle</title>
		<meta charset="utf-8"/>
		{% load staticfiles %}
		<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="LogoContainer">
				<img src="{% static '/images/logo.png' %}" alt="logo" />
		</div>
		<div id= "Container">
			<ul>
				<li><a href='/'>Home</a></li>
				<li><a href='/login'>Login</a></li>
				<li><a href='#'> About</a></li>
			</ul>
		</div>
		<div id="Content">
			<p style="margin: 10px">
			<span style="font-size: 150%; font-style: italic">About the Bank of Newcastle</span><br><br>
			We're here to provide a reliable service for the next generation of banking customers.<br>
			The Bank of Newcastle has no bricks and mortar establishments, reducing overhead fees and passing savings onto the customer.<br>
			Our services are user friendly and easy to use. You can sign up right now and have an account in a few easy steps.<br><br>
			Click <span style="font-weight:bold">Login </span>above to get started!
			</p>
		</div>
		<div id = "Footer">
			<hr>
			Copyright &copy;2017<br>Bank of Newcastle <br>N.S.W 2300.
		</div>	
	</body>
</html>