<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bank of Newcastle</title>
		<meta charset="utf-8"/>
		{% load staticfiles %}
		<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	</head>
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Bank of Newcastle</title>
			<meta charset="utf-8"/>
			{% load staticfiles %}
			<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>
			<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		</head>
		<body>
			<div id= "Container">
				<img src="{% static '/images/logo.png' %}" alt="logo" />
				<ul>
					<li><a href='/'>Home</a></li>
					<li><a href='/login'>Login</a></li>
					<li><a href='#'> About</a></li>
				</ul>
			</div>
			<div id="Content">
				<p>About details to go here</p>
			</div>
			<div id = "Footer">
				<hr>
				Copyright &copy;2017<br>Bank of Newcastle <br>N.S.W 2300.
			</div>	
		</body>
	</body>
</html>